
{#
	./templates/posts/add.html.twig
	variables:
		Post: (slug, id, titre, texte, dateCreation, auteur, tags...)
		Form PostType
#}
{% extends 'base.html.twig' %}


{% block title %}
	Ajout d'un post
{% endblock %}

{% block content1 %}
	<h1>Ajout d'un post</h1>
	{{ form_start(form) }}
		<div class="champ-titre">
			<span>{{ form_label(form.titre) }}</span>
			<span>{{ form_widget(form.titre, {attr: {class: 'test'}}) }}</span>
			<span>{{ form_errors(form.titre) }}</span>
		</div>
		<div class="checkboxes" style="column-count: 6;">
			{% for tag in form.tags %}
				<div>
					{{ form_widget(tag) }}
					<span>{{ form_label(tag) }}</span>
					<span>{{ form_errors(tag) }}</span>
				</div>
			{% endfor %}
		</div>
	{{ form_rest(form) }}
	{{ form_end(form) }}
{% endblock %}
