

{#
  ./templates/posts/liste.html.twig
  Variables disponibles:
    - posts ARRAY(Post(id, ...))
#}

{% for flash_message in app.session.flashBag.get('message') %}
  <div class="flash-notice">
    {{ flash_message }}
  </div>
{% endfor %}

<div>
    <a href="{{ path('app_posts_add') }}">Ajouter un post</a>
</div>
<ul>
  {% for post in posts %}
    <li>
      <a href="{{ path('app_posts_show', {id: post.id, slug: post.slug}) }}">
        {{ post.titre }} |
          <a href="{{ path('app_posts_edit', {id: post.id, slug: post.slug}) }}">Modifier</a> |
          <form action="{{ path('app_posts_delete', {id : post.id, slug: post.slug}) }}" method="post" onsubmit="return confirm('Vous êtes sur de le supprimer?')">
              <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
              <input type="submit" value="Supprimer" />
          </form>
      </a>
       - {{ post.auteur.pseudo }}
       <ul>
         {% for tag in post.tags %}
           <li>{{ tag.nom }}</li>
         {% endfor %}
       </ul>
    </li>
  {% endfor %}
</ul>