
{#
	./templates/posts/show.html.twig
	variables:
		- slug
		
#}
{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} - {% endblock %}
{% block content1 %}
	<h3><b>{{ post.titre }}</b></h3>
	<p>Auteur
		<b>
			<a href="{{ path('app_auteurs_show', {id : post.auteur.id, slug : post.auteur.slug}) }}">
				{{ post.auteur.pseudo }}
			</a>
			|
			{{ post.dateCreation | date('d-m-Y') }}
		</b>
	</p>
	<p>{{ post.texte }}</p>
	
		<ul>
			{% for tag in post.tags %}
				<li>
					<a href="{{ path('app_tags_show', {id: tag.id, slug: tag.slug}) }}">
						{{ tag.nom }}
					</a>
				</li>
			{% endfor %}
		</ul>
	
	</p>
{% endblock %}
