
{#
	./templates/pages/show.html.twig
	variables:
	
#}



{% extends 'base.html.twig' %}

{% block title %}{{ page.titre }}{% endblock %}



{% block content1 %}
	<h3>{{ page.titre }}</h3>
	<p>{{ page.texte }}</p>
	
	{% if page.id == 1 %}
		{{ render(controller('App\\Controller\\AuteurController::indexByLetterAction', {letter : letter})) }}
		
	{% elseif page.id == 3 %}
		{{ render(controller('App\\Controller\\PostController::index',{
			'vue' : 'liste',
			'limit' : 5
		})) }}
	{% endif %}
{% endblock %}
